{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
</form>
{{/if}}

{{> comment post.comment}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}